li.breadcrumb-item.active{
	color: #ed3237;
}

.general{
	text-align: left;
}

.general > div{
	padding: 10px;
	border: 2px solid #eee;
	margin-bottom: 10px;
}

.section-quantity > a, .section-quantity > span{
	/*background-color: #eee;*/
	border: 1px solid #eee;
}

.btn-color{
	width: 30px;
	height: 30px;
	
}

.section-color{
	display: inline-block;
	border: 1px solid #eee;
	padding: 3px;
	border-radius: 5px;
}

.section-color.active{
	border: 1px solid #ed3237;
}

.product-name{
	font-family: 'Prompt', sans-serif;
}



.nav-link{
	font-size: 20px;
	font-weight: 500;
}

.nav-link.active{
	color: #ed3237!important;
}

ul{
	list-style-type: none;
}

#detail-content{
	text-align: left;
}

.label-detal{
	color: #ed3237;
    background-color: #eee;
    padding: 10px;
}

.detail-list td{
	width: 50%;
}

.characteristics{
	color: #636363;
	padding-top: 10px;
}

/* relate product */
.relate{
	text-align: left;
	border: 2px solid #eee;
    padding: 10px;
}

.relate > h4{
	text-align: center;
}

.relate > div{
	padding: 10px;
	border-bottom: 2px solid #eee;
}

.relate > div:last-child{
	
	border-bottom: none;
}

.relate img{

	width: 100%;
}

.relate > div > div{
	display: inline-block;
}

.relate > div > div > p{
	color: #ed3237;
}
/* end relate product */

/* review */
#product-review{
	padding: 20px 0;
}

#product-review>h4{
	margin-bottom: 20px;
}

.overview{
	border: 2px solid #eee;
	padding: 10px;
}


.overview h2{
	padding-top: 35px;
	color: #fd9727;
}

.overview > div{
	text-align: center;
}

.overview ul{
	text-align: left;
}

.overview ul > li > div{
	display: inline-block;
}

.process-bar{
	width: 150px;
	margin: auto 5px;
    vertical-align: middle;
}

.process-bar > .below{
	width: 100%;
    height: 5px;
    background-color: #9a9898;
    border-radius: 3px;
}

.process-bar > .slide-bar{
    height: 5px;
    background-color: #fd9727;
    border-radius: 3px;
    margin-top: -5px;
}

.evaluate > div{
	margin-bottom: 10px;
}

.evaluate .btn-star{
	background-color: white;
	border: none;
	padding: 5px;
}

.evaluate .btn-star > i{
	font-size: 25px;
	color: #9a9898;
}

.evaluate .section-review{
	direction: rtl;
}

.star1:hover > i{
	color: #fd9727;
}

.star2:hover ~ a > i, .star2:hover > i{
	color: #fd9727;
}

.star3:hover ~ a > i, .star3:hover > i{
	color: #fd9727;
}

.star4:hover ~ a > i, .star4:hover > i{
	color: #fd9727;
}

.star5:hover ~ a > i, .star5:hover > i{
	color: #fd9727;
}

.section-comment{
	padding-top: 20px;
}

.star-vote{
	display: inline-block;
}

.section-comment > div{
	margin-bottom: 15px;
}

.section-comment h5{
	margin-bottom: 0;
}

.section-comment p{
	display: inline;
}

.star-vote i{
	font-size: 15px;

}

.btn-huuich > i{
	display: none;
}

.btn-huuich > i.active{
	display: inline;
}

.reply{
	display: none;
	padding-top: 10px;
	padding-left: 30px;
}

.reply > ul{
	margin: 0;
	padding: 0;
}

.reply > ul > li{
	padding-left: 10px;
	border-left: 3px solid #eee;
	margin-bottom: 5px;
}

.reply h6{
	margin-bottom: 0;
}

.reply textarea{
	height: 40px!important;
}

.reply .add-comment{
	margin-top: 10px;
}

.reply .add-comment button{
	height: 40px;
    margin-top: -33px;
}

#product-review > .add-comment{
	padding-top: 20px;
    border-top: 1px solid #eee;	
}

.add-comment textarea{
	height: 100px;
	resize: none;
	padding: 5px;
	outline: none;
}
/* end review */

/*notification*/

/*end notification*/