*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	color: #ed3237;
}


.main{
	padding: 0 50px;
}

.main > div{
	padding: 10px;
	margin: 10px auto;
	text-align: center;
}

.list-khuyenmai{
	text-align: center;
}

.list-khuyenmai img{
	width: 80%;
}

.list-khuyenmai p{
	margin: 5px auto;
	font-family: 'Prompt', sans-serif;
}

.khuyenmai{
	border: 2px solid #ed3237;
}

.khuyenmai > div > h4{
	padding-bottom: 5px;
	margin: 5px auto 25px;
    display: inline-block;
    border-bottom: 2px solid #ed3237;
    font-family: 'Jura', sans-serif;
}

.before-price{
	text-decoration: line-through;
}

.after-price{
	color: #ed3237;
}

.product{
	border: 2px solid #eee;
}

.product > div > h4{
	padding-bottom: 5px;
	margin: 5px auto 25px;
    display: inline-block;
    border-bottom: 2px solid #ed3237;
    font-family: 'Jura', sans-serif;
}

.list-product img{
	width: 80%;
}

.list-product p{
	margin: 5px auto;
	font-family: 'Prompt', sans-serif;
}

.item{
	padding: 5px 10px;
}

.item:hover{
	background-color: #eee;
}

.item p{
	text-align: left;
} 

.samsung{
	border: 2px solid #ed3237;
}

.price{
	color: #ed3237;
	font-family: 'Prompt', sans-serif;
}

/* slide */
.carousel-item > img{
	/*height: 270px;*/
}
/* end slide*/

@media only screen and (max-width: 991px) {
  	.space{
  		display: none;
	}
}